/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue: #24ecff;
}

/* Main */

body {
    height: 100vh;
    background-color: #24292f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.container .ring {
    position: relative;
    height: 150px;
    width: 150px;
    border: 4px solid transparent;
    border-radius: 50%;
    margin: -30px;
    border-top: 5px solid #e90c43;
    animation: animation 4s linear infinite;
}

.container .ring:nth-child(1)::before {
    content: '';
    width: 15px;
    height: 15px;
    position: absolute;
    border-radius: 50%;
    background-color: #e90c43;
    right: 12px;
    top: 12px;
    box-shadow:  0 0 0 5px #b91c3133, 0 0 0 10px #9b0f2122, 0 0 0 20px #7c0c1211;
}

.container .ring:nth-child(2) {
    border-top: 5px solid transparent;
    border-left: 4px solid #24ecff;
    animation: animation2 4s linear infinite;
    animation-delay: -1s;
}


.container .ring:nth-child(2)::before {
    content: '';
    width: 15px;
    height: 15px;
    position: absolute;
    border-radius: 50%;
    background-color: #24ecff;
    bottom: 12px;
    left:12px;
    box-shadow:  0 0 0 5px #24ecff33, 0 0 0 10px #24ecff22, 0 0 0 20px #24ecff11;
}


.container .ring:nth-child(3)::before {
    content: '';
    width: 15px;
    height: 15px;
    position: absolute;
    border-radius: 50%;
    background-color: #24ff87;
    bottom: 12px;
    left:12px;
    box-shadow:  0 0 0 5px #0c664333, 0 0 0 10px #11945722, 0 0 0 20px #169b6811;
}

.container .ring:nth-child(3) {
    position: absolute;
    top: -66.66px;
    border-top: 5px solid transparent;
    border-left: 4px solid #24ff87;
    animation: animation2 4s linear infinite;
    animation-delay: -3s;
}



@keyframes animation {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animation2 {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0);
    }
}

.p {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    bottom: -200px;
    padding-top: 10px;
    text-align: center;
}

.p p:nth-child(1) {
    font-size: 50px;
    letter-spacing: 14px;
    padding-bottom: 50px;
}